<nav>
  <h1><i class="fa-solid fa-store"></i> Shopping Mall</h1>
  <div class="search">
    <span class="material-symbols-outlined"> manage_search </span>
    <input type="search" placeholder="Search here..." />
  </div>

  <div class="account">
    @if (true) {
    <button><i class="fa-regular fa-id-card"></i> Create Account</button>
    <button (click)="signInForm()">
      <i  class="fa-solid fa-person-walking-dashed-line-arrow-right"></i> Sign in
    </button>
    } @else {
    <button><i class="fa-solid fa-id-badge"></i> Irakli</button>
    <button><i class="fa-solid fa-right-to-bracket"></i> Sign Out</button>
    }
  </div>
</nav>

@if (isSignShow) {
  <app-sign-in (closeEmit)="closeForm($event)"></app-sign-in>
}

