<section class="container">
    <main>

    
    @for (item of productList; track $index) {
  <div class="card">
    <img
      [src]="item.images[0]"
      alt="product"
    />
    <h4>{{item.title}}</h4>
    <h2>${{item.price.current}} <sub>${{item.price.beforeDiscount}}</sub></h2>
    <p>
      {{item.description}}
    </p>
    <div class="hiddenPart">
        <button><i class="fa-solid fa-cart-shopping"></i> Add To cart</button>
    </div>
  </div>
}
</main>
<button class="viewMore">View More</button>
</section>
