
<div class="area">
   <div class="search">
    <span class="material-symbols-outlined"> manage_search </span>
    <input type="search" placeholder="Search here..." />
 </div>
 
  <div class="brands">
    <h1>Brands</h1>
    <ul>
      <li (click)="showAll()"><i class="fa-solid fa-tag"></i>All</li>
      @for (item of brands; track $index) {
      <li (click)="getBrandData(item)"><i class="fa-solid fa-tag"></i>{{ item }}</li>
      }
    </ul>
  </div>
  <div class="prices">
    <h4>Select price:</h4>
    <input type="text" placeholder="from" />

    <input type="text" placeholder="to" />
  </div>
  <!-- <div class="sort">
    <h4>Sort by:</h4>
    <select>
      <option value="">Choose Type</option>
      <option value="rating">Rating</option>
      <option value="price">Price</option>
      <option value="issue_date">Issue Date</option>
      <option value="title">Title</option>
    </select>
    <select>
      <option value="">Sort Direction</option>
      <option value="asc">Ascendes</option>
      <option value="desc">Descendes</option>
    </select>
  </div> -->
  <button>Filter</button>
</div>
